
.cont{
    display: flex;
    flex-direction: column;
}
.pList{
    flex: 1;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.pListItem{
    border-radius: 10px;
    overflow: hidden;
    
    cursor:pointer;
}
.pListImg{
    height: 150px;
    object-fit: cover;
}
.pListTitles>h1{
    font-size: 18px;
    font-weight: 500px;
}
.pListTitles>h2{
    font-size: 14px;
    font-weight: 300px;
}