.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex: 1;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}
.listResult{
    flex: 2;
}
.lsItemlabel{
    font-size: 12px;
}
.lsteminput{
    height: 30x;
    border: none;
    padding: 5px;
}
.lsOptions{
    padding: 10px;
}
.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.lsOptionIput{
    width: 50px;
}
.searchButton{
padding: 7px;
color: white;
background-color: blue;
cursor: pointer;
width: 40%;
border: none;
margin-left: 100px;
border-radius: 20%;
}