.hotelContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.hotelImgWrapper{
    width: 33%;
}
.hotelImg{
    width: 100%;
    object-fit: cover;
}
.hotelTitle{
    font-size: 24px;
}
.hotelDistance{
    color: blue;
    font-size: 18px;
    font-weight: 500;
}
.hotelImages{
    display: flex;
    flex-wrap: wrap;
}
.bookNow{
position: absolute;
top: 10px;
right: 0px;
border: none;
padding: 10px 20px;
background-color: blue;
color: white;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
}
.hotelDetailsTexts{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px;
}
.hotelTitle{
    font-size: 22px;
}
.hoteldesc{
    font-size: 14px;
}